# Unreal Engine
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/.vs/
/.vscode/
*.VC.db
*.VC.opendb
*.sln
*.xcodeproj

# Paid Asset
Content/SciFi_Dog
Content/FuturisticWarrior
Content/Platformer_8_Underworld
Content/VRS_LowPolyNature
Content/AncientTempleRuins
Content/Kenny_PlatFormer
Content/__ExternalActors__/AncientTempleRuins/
Content/__ExternalObjects__/AncientTempleRuins/

# Build system
*.pdb
*.obj
*.exe
*.dll